*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(63, 63, 158);
    color: white;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

form{
    background-color: rgb(63, 63, 158);;
    width: 50%;
    display: inline-block;
    padding: 10px;
    height: 300px;
    border-radius: 20px;
    color: white;
}

form input{
    width: 90%;
    height: 20px;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

button{
    width: 20%;
    border: none;
    height: 30px;
    border-radius: 10px;
}
